@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

body {
  margin: 0;
  background: #151616;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 60px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  color: var(--text-color);
  text-decoration: none;
}
/* Title*/

h1 {
  color: white;
  padding-top: 20px;
  text-decoration: none;
  font-family: "Righteous", serif;
}

.clock {
  width: 80%;
  z-index: 1;
  color: white;
  font-size: 56px;
}

h2 {
  color: white;
  width: 10%;
  padding-right: 50px;
  padding-top: 20px;
  font-size: 140%;
  font-family: "Righteous", serif;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  color: white;
  margin-bottom: -18px;
  height: 100px;
  background-color: var(--bg);
  padding: 0 2rem;
  border-bottom: var(--border);
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 1);
  display: flex;
  align-items: center;
  justify-content: center;
}




